nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: black;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    color: white;
}

.link {
    color: white;
    text-decoration: none;
}

#nav-img {
    width: 7vh;
    background-color: white;
    border-radius: 50%;
    border: 1px white solid;
}

#nav-img:hover {
    background-color: orange;
    border-color: red;
}