.search-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px auto;
    width: 80%;
}

.form-group{
    width: 32rem;
    
}

#input-search1 {
    background-image: url(../assets/brief-case.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    text-indent: 30px;
    background-size: 5%;
}

#input-search2 {
    background-image: url(../assets/globe-logo-black.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    text-indent: 30px;
    background-size: 4.6%;
}

