.search-form {
    display: flex;
    /* padding-top: 5%; */
    /* align-items: center; */
    /* align-content: center; */
    justify-content: center;
    margin: 10px auto;
    width: 70%;
    /* border: 1px red solid; */
    background-color: blue;
}

.search-form > div {
    /* width: 20rem; */
    margin: auto;
    
}

.search-input {
    border: 1px black solid;
    width: 23rem;
    
}

#search-form-button {
    border: 0.9px black solid;
    height: 20px;
    width: 80px;
    margin-top: auto;
    /* padding: 0; */
}

#ft-only {
    /* font-style: italic; */
    font-size: 1em;
}