.news-grid-container {
    border: 1px red solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 1em;
    /* align-items: space-around; */
    /* justify-items: start; */
    padding: 40px;
    /* margin: 50px auto; */
}

.news-image {
    max-width: 100%;
    min-height: 50%;
    border: 1px blue solid;
}

.news-grid-container-child {
    border: 1px orange solid;
    /* width: 90%; */
    padding: 2px;
    text-align: center;
    
}