.news-grid-container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 1em;
    /* align-items: space-around; */
    /* justify-items: start; */
    padding: 40px;
    /* margin: 50px auto; */
}

.news-image {
    max-width: 100%;
    min-height: 50%;
    /* border: 1px blue solid; */
}

.news-grid-container-child {
    border: 1px black solid;
    /* width: 90%; */
    padding: 2px;
    text-align: center;
    box-shadow: 4px 5px 9px black;
    overflow: auto;
}

#news-anchor > a {
    text-decoration: none;
    color: blue;
    font-size: 1.2em;
}

#news-anchor {
    padding-bottom: 10px;
}