Module 2 Final Project

You must meet all of the following requirements to pass Module 2 Project.

Minimum Project Requirements:
! - Project must be approved by Instructor approval at the start of project week; - DONE!
! - Project code is pushed to a public Git repository - DONE!
! - Use the create - react - app generator to start your project. - DONE!
! - Has readme.md file at the root of repository - DONE!
! - readme file clearly documents the purpose of the project as a problem statement - DONE!
! - readme file clearly documents the target end user for this program. - DONE!
! - Using a 3rd party api - DONE!
! - There should be 3 or more routes - DONE!
! - The application must make use of react - router - DONE!
! - Make use of async actions to send data to and receive data from a server - DONE!
! - Your client - side application should handle the display of data with minimal data m - anipulation - DONE! No data manipulation.
! - Frontend uses Axios requests - DONE!
! - App renders in browser - DONE!
! - Uses CSS or styled components to style application - DONE!
! - There should be 2 container components(stateful) - Total=6.
 1(alljobs) + 1(jodDescModal) + 1(logo) + 1(mySavedJobs) + 1(navbar) + 1(techNews)

! - There should be 5 presentational components(stateless) - Total=3.
1(searchForm) + 1(userName) + 1(App.js)

! - The code should be written in ES6 as much as possible - DONE!
! - On project submission there should be 0 console.log() statements seen in the browser - DONE!
! - Be written with kebab -case CSS class names (e.g.this - is - the - class- name) - DONE!
! - Be written with semantic, camelCase JavaScript variable names - DONE!
! - pseudocode file in root of project repository - Comments provided!
! - Minimum 90 GitHub commits - DONE!

Exceeding Project Requirements:
! - Incorporating a new technology not taught in the program - used Bootstrap!
! - Your app should have one HTML page to render your react - redux application
! - Use Redux middleware to respond to and modify state change
! -  Project is deployed using firebase
! -  Uses React, AND Redux
! - readme file has embedded link(not url) to publicly deployed app